{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Id</th>
      <th>Työryhmä</th>
      <th>Oikeushyväksyjä</th>
      <th>Aktiivinen</th>
      <th>Luotu</th>
      <th>Muokattu</th>
    </tr>
    {% for wgroup in wgroups %}
    <tr>
      <td>{{ wgroup.id }}</td>
      <td>{{ wgroup.name }}</td>
      <td>{{ wgroup.authoriser }}</td>
      <td>{{ wgroup.active }}</td>
      <td>{{ wgroup.date_created }}</td>
      <td>{{ wgroup.date_modified }}</td>
      {% if current_user.is_authenticated %}
      <td>
        <form method="POST" action="{{ url_for('wgroups_set_end', wgroup_id=wgroup.id) }}">
          <input type="submit" value="Lopeta työryhmä"/>
        </form>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>

  {% if current_user.is_authenticated %}

  {% if count_new_rolerequests is defined %}
  <table>
    <p></p>
    <p> Työryhmien uusien jäsenyyspyyntöjen lukumäärä: </p>
    <tr>
      <th>Työryhmä</th>
      <th>Uusia pyyntöjä</th>
    </tr>
    {% for wgroup in count_new_rolerequests %}
    <tr>
      <td>{{wgroup.name}}</td>
      <td>{{wgroup.number}} kpl</td> 
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  {% if count_approved_rolerequests is defined %}
  <table>
    <p></p>
    <p> Työryhmien hyväksyttyjen, käsittelyä odottavien jäsenyyspyyntöjen lukumäärä: </p>
    <tr>
      <th>Työryhmä</th>
      <th>Odottavia pyyntöjä</th>
    </tr>
    {% for wgroup in count_approved_rolerequests %}
    <tr>
      <td>{{wgroup.name}}</td>
      <td>{{wgroup.number}} kpl</td> 
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  {% endif %}

{% endblock %}