{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Working group</th>
      <th>Id</th>
      <th>Authoriser</th>
      <th>Active</th>
      <th>Created</th>
      <th>Modified</th>
    </tr>
    {% for wgroup in wgroups %}
    <tr>
      <td>{{ wgroup.name }}</td>
      <td>{{ wgroup.id }}</td>
      <td>{{ wgroup.authoriser }}</td>
      <td>{{ wgroup.active }}</td>
      <td>{{ wgroup.date_created }}</td>
      <td>{{ wgroup.date_modified }}</td>
      {% if current_user.is_authenticated %}
      <td>
        <form method="POST" action="{{ url_for('wgroups_set_end', wgroup_id=wgroup.id) }}">
          <input type="submit" value="End group"/>
        </form>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
{% endblock %}
