{% extends "layout.html" %}

{% block body %}
  <h4>Työryhmät</h4>

  {% if current_user.permission_name() == "admin" %}  
  <a href="{{ url_for('wgroups_form') }}">Lisää uusi työryhmä</a>
  <table>
    <tr>
      <th>Id</th>      
      <th>Työryhmä</th>
      <th>Oikeushyväksyjä</th>
      <th>Aktiivinen</th>
      <th>Luotu</th>
      <th>Muokattu</th>
      <th>Lopetettu</th>
    </tr>
    {% for wgroup in wgroups.items %}
    <tr>
      <td>{{ wgroup.id }}</td>
      <td>{{ wgroup.name }}</td>
      <td>{{ wgroup.authoriser }}</td>
      <td>{{ wgroup.active }}</td>
      <td>{{ wgroup.date_created }}</td>
      <td>{{ wgroup.date_modified }}</td>
      <td>{{ wgroup.date_ended }}</td>
      <td>
        <form method="GET" action="{{ url_for('wgroups_update', wgroup_id=wgroup.id) }}">
          <input type="submit" value="Päivitä tietoja"/>
        </form>
      </td>
      <td>
        <form method="GET" action="{{ url_for('wgroups_members', wgroup_id=wgroup.id) }}">
          <input type="submit" value="Näytä jäsenet"/>
        </form>
      </td>
      <td>
        {% if wgroup.active==True %} 
        <form method="POST" action="{{ url_for('wgroups_set_end', wgroup_id=wgroup.id) }}">
          <input type="submit" value="Lopeta työryhmä", onclick="return confirm('Haluatko lopettaa työryhmän ja merkitä sen epäaktiiviseksi?')"/>
        </form>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  
  {% if current_user.permission_name() != "admin" %}  
   <table>
    <tr>
      <th>Id</th>      
      <th>Työryhmä</th>
      <th>Oikeushyväksyjä</th>
    </tr>
    {% for wgroup in wgroups.items %}
    {% if wgroup.active==True %}    
    <tr>
      <td>{{ wgroup.id }}</td>
      <td>{{ wgroup.name }}</td>
      <td>{{ wgroup.authoriser }}</td>
      <td>
        <form method="GET" action="{{ url_for('wgroups_members', wgroup_id=wgroup.id) }}">
          <input type="submit" value="Näytä jäsenet"/>
        </form>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
  {% endif %}

  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if wgroups.has_prev %}
      <li class="page-item">
        <a class="page-link" href="{{ url_for('wgroups_index', page=wgroups.prev_num) }}">Edellinen</a>
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link btn disabled" href="#">Edellinen</a>
      </li>
      {% endif %}
      {% if wgroups.has_next %}
      <li class="page-item">
        <a class="page-link" href="{{ url_for('wgroups_index', page=wgroups.next_num) }}">Seuraava</a>
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link btn disabled" href="#">Seuraava</a>
      </li>
      {% endif %}
    </ul>
  </nav>

  {% if current_user.permission_name() == "admin" %}

  {% if count_new_rolerequests is defined %}
  <p></p>
  <p><b>Työryhmissä uusia jäsenyyspyyntöjä: </b></p>
  <table>
    <tr>
      <th>Työryhmä</th>
      <th>Uusia pyyntöjä</th>
    </tr>
    {% for wgroup in count_new_rolerequests %}
    <tr>
      <td>{{wgroup.name}}</td>
      <td>{{wgroup.number}} kpl</td> 
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  {% if count_approved_rolerequests is defined %}
  <p></p>
  <p><b>Työryhmissä hyväksyttyjä, käsittelyä odottavia jäsenyyspyyntöjä: </b></p>
  <table>
    <tr>
      <th>Työryhmä</th>
      <th>Odottavia pyyntöjä</th>
    </tr>
    {% for wgroup in count_approved_rolerequests %}
    <tr>
      <td>{{wgroup.name}}</td>
      <td>{{wgroup.number}} kpl</td> 
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  {% if count_members is defined %}
  <p></p>
  <p><b> Työryhmissä jäseniä:</b></p>
  <table>
    <tr> 
      <th>Työryhmä</th>
      <th>Jäseniä</th>
    </tr>
    {% for wgroup in count_members %}
    <tr>
      <td>{{wgroup.name}}</td>
      <td>{{wgroup.number_members}}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  {% endif %}

{% endblock %}