{% extends "layout.html" %}

{% block body %}
{{ error }}
<h4>Lisää uusi jäsenyys</h4>
<form method="POST" action="{{ url_for('memberships_create') }}">
    <table>
        <tr>
            <td>
                {{ form.account_id.label }}
            </td>
            <td>
                {{ form.account_id }}
            </td>
            <td>
                <ul>
                    {% for error in form.account_id.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.wgroup_id.label }}
            </td>
            <td>
                {{ form.wgroup_id }}
            </td>
            <td>
                <ul>
                    {% for error in form.wgroup_id.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.role_id.label }}
            </td>
            <td>
                {{ form.role_id }}
            </td>
            <td>
                <ul>
                    {% for error in form.role_id.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Tallenna jäsenyys"/>
            </td>
        </tr>
    </table>
</form>
{% endblock %}
