{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Id</th>
      <th>Käyttäjätunnus</th>
      <th>Tunnus aktiivinen</th>
      <th>Etunimi</th>
      <th>Sukunimi</th>
      <th>Luotu</th>
      <th>Muokattu</th>
    </tr>
    {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.account_active }}</td>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.date_created }}</td>
      <td>{{ user.date_modified }}</td>
      {% if current_user.is_authenticated %}
      <td>
        <form method="POST" action="{{ url_for('users_inactivate', user_id=user.id) }}">
          <input type="submit" value="Muuta epäaktiiviseksi"/>
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('users_delete', user_id=user.id )}}">
          <input type="submit" value="Poista käyttäjätili" onclick="return confirm('Oletko täysin varma, että haluat poistaa käyttäjätilin ja kaikki käyttäjän tiedot tietokannasta?')">
        </form>
        </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
{% endblock %}
