{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>Account active</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Created</th>
      <th>Modified</th>
    </tr>
    {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.account_active }}</td>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.date_created }}</td>
      <td>{{ user.date_modified }}</td>
      {% if current_user.is_authenticated %}
      <td>
        <form method="POST" action="{{ url_for('users_inactivate', user_id=user.id) }}">
          <input type="submit" value="Inactivate user"/>
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('users_delete', user_id=user.id )}}">
          <input type="submit" value="Delete user account" onclick="return confirm('Are you sure you want to delete this user account from the database?')">
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
{% endblock %}
