{% extends "layout.html" %}

{% block body %}
<h4>Lisää uusi rooli</h4>
<form method="POST" action="{{ url_for('roles_create') }}">
    <table>
        <tr>
            <td>
                {{ form.name.label }}
            </td>
            <td>
                {{ form.name }}
            </td>
            <td>
                <ul>
                    {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Lisää uusi rooli"/>
            </td>
        </tr>
    </table>
</form>
{% endblock %}
