{% extends "layout.html" %}

{% block body %}
  <h4> Avoimet jäsenyyshakemukset</h4>
  <a href="{{ url_for('rolerequests_index_closed') }}">Näytä suljetut hakemukset</a>
  
  {% if open_rolerequests is defined %} 
  <table>
    <tr>
      {% if current_user.permission_name() == "admin" %}
      <th>Id</th>
      {% endif %}
      <th>Pyynnön tyyppi</th>
      <th>Käyttäjä</th>
      <th>Työryhmä</th>
      <th>Rooli</th>
      <th>Perustelut</th>
      <th>Hyväksyjä</th>
      <th>Hyväksytty</th>
      <th>Hyväksynnän ajankohta</th>
      <th>Hylätty</th>
      <th>Hylkäyksen ajakohta</th>
      <th>Toteutettu</th>
      <th>Luotu</th>
      <th>Muokattu</th>
      <th>Muuta tilaa</th>
    </tr>
    {% for rolerequest in open_rolerequests %}
    <tr>
      {% if current_user.permission_name() == "admin" %}
      <td>{{ rolerequest.id }}</td>
      {% endif %}
      <td>{{ rolerequest.request_type }}</td>
      <td>{{ rolerequest.user }}</td>
      <td>{{ rolerequest.wgroup }}</td>
      <td>{{ rolerequest.role }}</td>
      <td>{{ rolerequest.justification }}</td>
      <td>{{ rolerequest.authoriser }}</td>
      <td>{{ rolerequest.approved }}</td>
      <td>{{ rolerequest.date_approved }}</td>
      <td>{{ rolerequest.rejected }}</td>
      <td>{{ rolerequest.date_rejected }}</td>
      <td>{{ rolerequest.executed }}</td>
      <td>{{ rolerequest.date_created }}</td>
      <td>{{ rolerequest.date_modified }}</td>
      {% if current_user.permission_name() == "admin" %}
      <td>
        <form method="POST" action="{{ url_for('rolerequests_approve', rolerequest_id=rolerequest.id) }}">
            <input type="submit" value="Hyväksytty" onclick="return confirm('Haluatko merkitä pyynnön hyväksytyksi?')">
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('rolerequests_reject', rolerequest_id=rolerequest.id) }}">
            <input type="submit" value="Hylätty" onclick="return confirm('Haluatko merkitä pyynnön hylätyksi?')">
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('rolerequests_set_executed', rolerequest_id=rolerequest.id) }}">
          <input type="submit" value="Toteutettu" onclick="return confirm('Haluatko merkitä pyynnön toteutetuksi?')">
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('rolerequest_delete', rolerequest_id=rolerequest.id) }}">
          <input type="submit" value="Poista" onclick="return confirm('Haluatko varmasti poistaa pyynnön tietokannasta? Poista pyyntö vain, jos käyttäjä on lähettänyt virheellisen tai turhan hakemuksen.')">
        </form>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  {% endif %}


{% endblock %}
