{% extends "layout.html" %}

{% block body %}
  <h4> Jäsenyyshakemukset</h4>
  <table>
    <tr>
      {% if current_user.permission_name() == "admin" %}  
      <th>Id</th>
      {% endif %}
      <th>Pyynnön tyyppi</th>
      <th>Käyttäjän id</th>
      <th>Työryhmän id</th>
      <th>Roolin id</th>
      <th>Hyväksytty</th>
      <th>Hylätty</th>
      <th>Toteutettu</th>
      <th>Luotu</th>
    </tr>
    {% for rolerequest in rolerequests %}
    <tr>
      {% if current_user.permission_name() == "admin" %}
      <td>{{ rolerequest.id }}</td>
      {% endif %}
      <td>{{ rolerequest.request_type }}</td>
      <td>{{ rolerequest.account_id }}</td>
      <td>{{ rolerequest.wgroup_id }}</td>
      <td>{{ rolerequest.role_id }}</td>
      <td>{{ rolerequest.approved }}</td>
      <td>{{ rolerequest.rejected }}</td>
      <td>{{ rolerequest.executed }}</td>
      <td>{{ rolerequest.date_created }}</td>
      {% if current_user.permission_name() == "admin" %}
      <td>
        <form method="POST" action="{{ url_for('rolerequests_approve', rolerequest_id=rolerequest.id) }}">
            <input type="submit" value="Merkitse hyväksytyksi" onclick="return confirm('Haluatko merkitä pyynnön hyväksytyksi?')">
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('rolerequests_reject', rolerequest_id=rolerequest.id) }}">
            <input type="submit" value="Merkitse hylätyksi" onclick="return confirm('Haluatko merkitä pyynnön hylätyksi?')">
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('rolerequests_set_executed', rolerequest_id=rolerequest.id) }}">
          <input type="submit" value="Merkitse toteutetuksi" onclick="return confirm('Haluatko merkitä pyynnön toteutetuksi?')">
        </form>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
{% endblock %}
